$backgroundImage:url(../img/m-h-day.jpg);
$backgroundColorBody: #ffffff;
$bodyColorFont:#2c2f3c;
$ColorSelectWord:#14a0c7;
$ColorFontSelectWord:#2c2f3c;
$ColorOfButton:#699900;
$ColorSection_card:#21232e;
$GradientSectionBaner: linear-gradient(to right, #66960b,#305ece);
$ColorBackgrounfFootter: #21232e;