$backgroundImage:url(../img/m-h-night.jpg);
$backgroundColorBody:#21232e;
$bodyColorFont:#ffffff;
$ColorSelectWord:#ff4e33;
$ColorFontSelectWord:#ffffff;
$ColorOfButton:#e3ac00;
$ColorSection_card:#3b3f50;
$GradientSectionBaner: linear-gradient(to right, #dca107,#96324f);
$ColorBackgrounfFootter:#3b3f50;



